<div>
    <h1>Your Meals for week {{Planner.Week_Number}}</h1>
</div>

<div class="container">
    <div>
        <h2>Monday</h2>
            <div class="grow">
                <h3>Breakfast</h3>
                    {{#each Planner.Breakfast}}
                        <p>{{Meals.name}}</p>
                    {{else}}
                        NO MEAL PLANNED YET!
                    {{/each}}
            </div>
            <div class="grow">
                <h3>Lunch</h3>
                    {{#each Planner.Lunch}}
                        <p>{{Meals.name}}</p>
                    {{else}}
                        NO MEALS PLANNED YET!
                    {{/each}}
            </div> 
            <div class="grow">
                <h3>Dinner</h3>
                    {{#each Planner.Dinner}}
                        <p>{{Meals.name}}</p>
                    {{else}}
                        NO MEALS PLANNED YET!
                    {{/each}}
            </div>
    </div>
    <div>
        <h2>Tuesday</h2>
            <div class="grow">
                <h3>Breakfast</h3>
                    {{#each Planner.Breakfast}}
                        <p>{{Meals.name}}</p>
                    {{else}}
                        NO MEAL PLANNED YET!
                    {{/each}}
            </div>
            <div class="grow">
                <h3>Lunch</h3>
                    {{#each Planner.Lunch}}
                        <p>{{Meals.name}}</p>
                    {{else}}
                        NO MEALS PLANNED YET!
                    {{/each}}
            </div> 
            <div class="grow">
                <h3>Dinner</h3>
                    {{#each Planner.Dinner}}
                        <p>{{Meals.name}}</p>
                    {{else}}
                        NO MEALS PLANNED YET!
                    {{/each}}
            </div>
    </div>
    <div>
        <h2>Wednesday</h2>
            <div class="grow">
                <h3>Breakfast</h3>
                    {{#each Planner.Breakfast}}
                        <p>{{Meals.name}}</p>
                    {{else}}
                        NO MEAL PLANNED YET!
                    {{/each}}
            </div>
            <div class="grow">
                <h3>Lunch</h3>
                    {{#each Planner.Lunch}}
                        <p>{{Meals.name}}</p>
                    {{else}}
                        NO MEALS PLANNED YET!
                    {{/each}}
            </div> 
            <div class="grow">
                <h3>Dinner</h3>
                    {{#each Planner.Dinner}}
                        <p>{{Meals.name}}</p>
                    {{else}}
                        NO MEALS PLANNED YET!
                    {{/each}}
            </div>
    </div>
    <div>
        <h2>Thursday</h2>
            <div class="grow">
                <h3>Breakfast</h3>
                    {{#each Planner.Breakfast}}
                        <p>{{Meals.name}}</p>
                    {{else}}
                        NO MEAL PLANNED YET!
                    {{/each}}
            </div>
            <div class="grow">
                <h3>Lunch</h3>
                    {{#each Planner.Lunch}}
                        <p>{{Meals.name}}</p>
                    {{else}}
                        NO MEALS PLANNED YET!
                    {{/each}}
            </div> 
            <div class="grow">
                <h3>Dinner</h3>
                    {{#each Planner.Dinner}}
                        <p>{{Meals.name}}</p>
                    {{else}}
                        NO MEALS PLANNED YET!
                    {{/each}}
            </div>
    </div>
    <div>
        <h2>Friday</h2>
            <div class="grow">
                <h3>Breakfast</h3>
                    {{#each Planner.Breakfast}}
                        <p>{{Meals.name}}</p>
                    {{else}}
                        NO MEAL PLANNED YET!
                    {{/each}}
            </div>
            <div class="grow">
                <h3>Lunch</h3>
                    {{#each Planner.Lunch}}
                        <p>{{Meals.name}}</p>
                    {{else}}
                        NO MEALS PLANNED YET!
                    {{/each}}
            </div> 
            <div class="grow">
                <h3>Dinner</h3>
                    {{#each Planner.Dinner}}
                        <p>{{Meals.name}}</p>
                    {{else}}
                        NO MEALS PLANNED YET!
                    {{/each}}
            </div>
    </div>
    <div>
        <h2>Saturday</h2>
            <div class="grow">
                <h3>Breakfast</h3>
                    {{#each Planner.Breakfast}}
                        <p>{{Meals.name}}</p>
                    {{else}}
                        NO MEAL PLANNED YET!
                    {{/each}}
            </div>
            <div class="grow">
                <h3>Lunch</h3>
                    {{#each Planner.Lunch}}
                        <p>{{Meals.name}}</p>
                    {{else}}
                        NO MEALS PLANNED YET!
                    {{/each}}
            </div> 
            <div class="grow">
                <h3>Dinner</h3>
                    {{#each Planner.Dinner}}
                        <p>{{Meals.name}}</p>
                    {{else}}
                        NO MEALS PLANNED YET!
                    {{/each}}
            </div>
    </div>
    <div>
        <h2>Sunday</h2>
            <div class="grow">
                <h3>Breakfast</h3>
                    {{#each Planner.Breakfast}}
                        <p>{{Meals.name}}</p>
                    {{else}}
                        NO MEAL PLANNED YET!
                    {{/each}}
            </div>
            <div class="grow">
                <h3>Lunch</h3>
                    {{#each Planner.Lunch}}
                        <p>{{Meals.name}}</p>
                    {{else}}
                        NO MEALS PLANNED YET!
                    {{/each}}
            </div> 
            <div class="grow">
                <h3>Dinner</h3>
                    {{#each Planner.Dinner}}
                        <p>{{Meals.name}}</p>
                    {{else}}
                        NO MEALS PLANNED YET!
                    {{/each}}
            </div>
    </div>

</div>